:host {
  display: flex;
  align-items: center;
}
.slider-rail {
  box-sizing: border-box;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 100px;
  background: lightgray;
  transition: all .3s;
  margin: 0 12px 0 0;
}
.toggle-handler {
  box-sizing: border-box;
  top: 2.5px;
  left: 2.5px;
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: white;
  transition: all .3s;
}
.toggle-checked.slider-rail {
  background: pink;
}
.toggle-checked .toggle-handler {
  transform: translate3d(25px, 0, 0);
}
